
<h4> All Bookings &nbsp; &nbsp; </h4>

-----------------------------------------------------------------------------

<% @bookings.each do |booking| %>

     <p>
        Pick Up From : <%= booking.pickup_address %> </br>
        Drop Off at : <%= booking.drop_address %> </br>
        With in :  <%= booking.pick_time_in_mins %> mins </br>
        Status :  <%= booking.current_status %>
     </p>
    -----------------------------------------------------------------------------
    
<% end %>



   

  