
<h4> All Bookings &nbsp; &nbsp; </h4>

-----------------------------------------------------------------------------

<div class="allbookings">
   
    <%= render 'pickups' %>
     
</div>



<script type="text/javascript">


   $j(document).ready(function() 
   {
     var refreshId = setInterval(function() 
      {
        $j.post('/my_pickups', function(data)
        { 
          $j('.allbookings').html(data);
        })
       }, 120000);
       
   });
    
</script>

   

  